link(rel='stylesheet' href='./css/reset.css')
link(rel='stylesheet' href='./css/topic.css')
link(rel='stylesheet' href='./css/bootstrap.min.css')
link(rel='stylesheet' href='./css/bootflat.css')

.topic
  .wrapper-topic
    .topic-container
      .col-md-8
        h3 讓愛不流浪－給毛孩一個家
        h4 目前分別有 5595, 1454 隻汪汪和喵咪在等待認領養
  .topic-infos
    p 錯誤可回報至 d0177381@gmail.com